@font-face {
  font-family: "Quantico-Bold";
  src: url("../assets/font/Quantico-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quantico-BoldItalic";
  src: url("../assets/font/Quantico-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Quantico-Italic";
  src: url("../assets/font/Quantico-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Quantico-Regular";
  src: url("../assets/font/Quantico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
