.impressum-container {
  display: flex;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    #000000 0%,
    #2c2b2b 35%,
    #0b0a0a 70%,
    #323232 100%
  );
}

.impressum-content {
  display: flex;
  width: calc(100% - 132px);
  margin: 64px 64px 64px 232px;
}

.impressum-header {
  display: flex;
  justify-content: end;
  -webkit-text-stroke: 3px var(--main-green);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 58px;
}

.impressumsite-text {
  margin-left: 32px;
  height: 740px;
  width: 650px;
  color: white;
}

.impressumsite-text h2 {
  font-size: 18px;
  padding-bottom: 8px;
  color: var(--main-green);
}

.impressumsite-text p {
  padding-bottom: 16px;
}

.impressum-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  margin-top: 64px;
  height: 740px;
}

.copy-right {
  text-align: end;
}

.margin-imprssum-unset {
  margin: unset;
}

.arrow-impressum {
  position: absolute;
  bottom: 50%;
  right: 132px;
}

.impressum-content-section {
  display: flex;
  width: 100vw
}

.impressum-background {
  width: max-content;
  background: linear-gradient(
    to right,
    #000000 0%,
    #2c2b2b 35%,
    #0b0a0a 70%,
    #323232 100%
  );
}
