.horizontal-text {
    width: calc(100vw - 230px);
    padding: 120px 64px 64px;
    box-sizing: border-box;

    column-width: auto;
    columns: 1;
}

.privacy-container {
    display: flex;
    width: max-content;
    height: 100vh;
}

.horizontal-text p,
.horizontal-text li {
    word-wrap: break-word;
    overflow-wrap: break-word;
}