.portfolio-section {
  position: relative;
}

.all-projects {
  display: flex;
  flex-direction: row;
  margin-left: 64px;
  margin-top: 160px;
}

.project-header {
  display: flex;
  justify-content: end;
  -webkit-text-stroke: 3px var(--main-green);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 58px;
  margin-right: 32px;
}

.project {
  position: relative;
  width: 920px;
  height: 520px;
  border-radius: 30px;
  padding: 0px 32px;
  background-color: rgba(181, 233, 59, 0.2);
  margin-right: 32px;
}

.project-head-number {
  font-size: 100px;
  margin-right: 16px;
  -webkit-text-stroke: 1px var(--main-green);
  color: transparent;
}

.project-head {
  display: flex;
  align-items: center;
}

.prject-description-head {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.prject-description-head-img {
  width: 13px;
  height: 13px;
}

.project-head-project-name {
  font-size: 56px;
  color: #b5e93b;
}

.project-h2 {
  font-size: 24px;
  color: #fffdfd;
}

.project-text {
  color: #fffdfd;
  margin-bottom: 32px;
}

.about-the-project {
}

.technologys-project {
}

.arrow-position-skill-section {
  position: absolute;
  right: 32px;
  bottom: 64px;
}

.project-presentation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 337px;
  right: 50px;
  top: 130px
}

.project-img {
  width: 337px;
  height: 203px;
  border-radius: 30px;
}

.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
}

.project-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 16px;
}

.github-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 13px 30px;
  border: 1px solid #B5E93B;
  color: #B5E93B;
}

.project-text-section {
  margin-left: 40px;
}