.portfolio-section{
  position: relative;
}

.all-projects {
  display: flex;
  flex-direction: row;
  margin-left: 64px;
  margin-top: 160px;
}

.project-header {
  display: flex;
  justify-content: end;
  -webkit-text-stroke: 3px var(--main-green);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 58px;
  margin-right: 32px;
}

.project {
  width: 920px;
  height: 520px;
  border-radius: 30px;
  background-color: rgba(181, 233, 59, 0.2);
  margin-right: 32px;
}

.arrow-position-skill-section {
  position: absolute;
  right: 32px;
  bottom: 64px;
}