body {
  margin: 0;
  padding: 0;
  scroll-snap-type: x mandatory;
  font-family: "Quantico-Regular";
  color: white;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main-green: #b5e93b;
  --light-grey: #4a4a4a;
}

.sections {
  margin-left: 172px;
  height: 100vh;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.sections-track {
  display: flex;
  width: max-content;

  background: linear-gradient(
    to right,
    #000000 0%,
    #2c2b2b 25%,
    #0b0a0a 50%,
    #323232 75%,
    #0b0a0a 100%
  );
}

.sections::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  min-width: calc(100vw - 172px);
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
}

a {
  text-decoration: none;
}

/*------------------------------------
    Navigation Container 
    ------------------------------------*/
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 172px;
  height: 100%;
  z-index: 2000;
  background-color: var(--main-green);
}

.black-to-transparent {
  position: fixed;
  left: 172px;
  width: 42px;
  height: 100%;
  z-index: 1000;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.42), transparent);
}

.navigation-img {
  width: 130px;
  height: auto;
  margin-top: 32px;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 0px;
  height: 100%;
}

.navigation-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 132px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--light-grey);
  font-size: 32px;
}

.navigation-links a:hover {
  color: var(--white);
  transition: 150ms;
}

.navigation-links a.isActive {
  color: transparent;
  -webkit-text-stroke: 1px black;
  scale: 1.2;
}

/*------------------------------------
     Hero Section 
    ------------------------------------*/

.hero-section {
}

/*------------------------------------
    Why me Section
    ------------------------------------*/

.why-me-section {
}

/*------------------------------------
    Skill Section
    ------------------------------------*/
.skill-section {
}

/*------------------------------------
    Portfolio Section
    ------------------------------------*/
.portfolio-section {
}

/*------------------------------------
    Reference Section
    ------------------------------------*/
.portfolio-section {
}

/*------------------------------------
    Contact Section
    ------------------------------------*/
.contact-section {
}

.contact-content {
  flex: 1;
}

/*------------------------------------
    Footer Section
------------------------------------*/

footer {
  min-width: 100px;
  height: 100vh;
  flex-shrink: 0;
  background: linear-gradient(to bottom, var(--main-green) 60%, #547800 100%);
}
