* {
  margin: 0;
  padding: 0;
}

body {
  scroll-snap-type: x mandatory;
  font-family: "Quantico-Regular";
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main-green: #b5e93b;
  --light-green: #d3ed97;
  --light-grey: #4a4a4a;
}

.sections {
  margin-left: 172px;
  height: 100vh;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.sections-track {
  display: flex;
  width: max-content;

  background: linear-gradient(
    to right,
    #000000 0%,
    #2c2b2b 25%,
    #0b0a0a 50%,
    #323232 75%,
    #0b0a0a 100%
  );
}

.sections::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  min-width: calc(100vw - 172px);
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
}

a {
  text-decoration: none;
}

.arrow-right {
  width: 107px;
  height: 32px;
  transition:
    transform 300ms ease,
    filter 300ms ease;
  z-index: 2;
}

.arrow-right::before {
  content: "";
  position: absolute;
  inset: -8px;
  background: #ccff00;
  border-radius: 100px;
  filter: blur(20px);
  opacity: 0;
  transition:
    opacity 300ms ease,
    transform 300ms ease;
  transform: scale(0.8);
  z-index: -1;
}

.arrow-right:hover {
  filter: drop-shadow(0 0 4px #b8ff2c)
    drop-shadow(0 0 12px rgba(184, 255, 44, 0.4));
}

.arrow-right-transform:hover {
  transform: translateX(10px);
}

.arrow-left-transform:hover {
  transform: translateX(-10px);
}

.arrow-right:hover::before {
  opacity: 0.7;
  transform: scale(1.2);
}

.btn {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  color: var(--black);
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: var(--main-green);

  display: flex;
  align-items: center;
  justify-content: center;
}

.ask-btn {
  text-align: center;
}

.btn span {
  position: relative;
  font-family: "Quantico-Regular";
  font-size: 16px;
  z-index: 2;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(to bottom, #b5e93b 0%, #547800 100%);

  opacity: 0;
  transition: opacity 300ms ease;
}

.btn:hover::before {
  opacity: 1;
}

/*------------------------------------
     Social Media an Language
    ------------------------------------*/

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 24px;
  right: 148px;
  gap: 24px;
  z-index: 5000;
}

.social-icons a {
  cursor: pointer;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.language-buttons {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.language-buttons span {
  font-size: 16px;
  cursor: pointer;
  color: var(--white);
}

.language-buttons span:hover {
  color: var(--main-green);
}

.language-buttons hr {
  border: 1px solid var(--white);
  height: 12px;
  margin: 0px 8px 2px 8px;
}

.mail-img:hover {
  content: url(../assets/img/mail_hover.png);
}

.linkedIn-img:hover {
  content: url(../assets/img/linkedIn_hover.png);
}

.git-img:hover {
  content: url(../assets/img/github_hover.png);
}

/*------------------------------------
    Skill Section
    ------------------------------------*/
.skill-section {
}

/*------------------------------------
    Portfolio Section
    ------------------------------------*/
.portfolio-section {
}

/*------------------------------------
    Reference Section
    ------------------------------------*/
.portfolio-section {
}

/*------------------------------------
    Footer Section
------------------------------------*/
.footer-space {
  flex: 1;
}

footer {
  min-width: 100px;
  height: 100vh;
  flex-shrink: 0;
  background: linear-gradient(to bottom, var(--main-green) 60%, #547800 100%);
}

/*------------------------------------
    Dialog
------------------------------------*/
.mobile-menu {
  inset: 0 auto auto 0;
  width: 100vw;
  max-width: 100vw;
  margin: 0;

  height: 317px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(to bottom, #b5e93b 50%, #547800 100%);
  border: unset;
}

.dialog-content {
  width: 100%;
  height: 100%;
}

.close-dialog-area {
  width: 100%;
  text-align: end;
  padding-top: 16px;
}

.close-dialog-area img {
  margin-right: 16px;
}

.navigation-links-mobile {
  display: none;
}

.mobile-burger-menu {
  display: none;
}
