@media (max-width: 980px) {
  .all-projects {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
    gap: 40px;
  }

  .project-header {
    display: flex;
    justify-content: start;
    -webkit-text-stroke: 1px var(--main-green);
    writing-mode: unset;
    transform: unset;
    font-size: 32px;
    margin-top: 80px;
  }

  .project {
    width: unset;
    margin: unset;
    height: unset;
    padding: 0px 20px;
  }

  .project-head-number {
    font-size: 40px;
    margin-right: 16px;
    -webkit-text-stroke: 1px var(--main-green);
  }

  .project-head-project-name {
    font-size: 24px;
  }

  .project-h2 {
    font-size: 22px;
  }

  .about-the-project,
  .technologys-project,
  .learned-project,
  .prject-description-hover {
    width: calc(100% - 30px);
    height: 64px;
  }

  .project-presentation {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 32px 0px;
  }

  .prject-description-hover {
    opacity: 0;
    position: absolute;
    top: 284px;
    transition: ease-in-out 250ms;
  }

  .overlay {
    display: none;
  }

  .ongoing-project-button {
    display: none;
  }

  .reference-section-container {
    display: flex;
    flex-direction: column;
    width: unset;
    height: unset;
    margin: 32px 16px 0px 16px;
  }

  .reference-head {
    -webkit-text-stroke: 1px var(--main-green);
    writing-mode: unset;
    transform: unset;
    font-size: 32px;
    margin-right: unset;
  }

  .all-references {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 0px 8px;
    gap: 16px;
    height: 95%;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .all-references::-webkit-scrollbar {
    display: none;
  }

  .desktop-display-none {
    display: block;
  }

  .reference {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
    margin: unset;
    height: 176px;
  }

  .name-and-project {
    align-items: start;
    width: unset;
  }

  .reference-content {
    padding: 0px;
    width: 100%;
  }

  .customer-name {
    font-size: 22px;
  }

  .desktop-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
  }

  .dot {
    border: 1px solid var(--main-green);
    background: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms ease;
  }

  .dot.active {
    width: 18px;
    height: 4px;
    border-radius: 20px;
    background: var(--main-green);
  }
}

@media (max-width: 500px) {
  .project-presentation {
    padding: 0px 0px 16px 0px;
    margin-top: 56px;
  }

  .project-img {
    width: 269px;
    height: auto;
  }

  .project-text {
    margin-bottom: 32px;
  }

  .prject-description-hover {
    opacity: 0;
    position: absolute;
    top: 359px;
    transition: ease-in-out 250ms;
  }
}

@media (max-width: 400px) {
  .customer-name {
    font-size: 16px;
  }

  .reference-content {
    font-size: 14px;
  }

  .name-and-project {
    padding: 4px;
  }
}
