@media (max-width: 980px) {
  .all-projects {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
    gap: 40px;
  }

  .project-header {
    display: flex;
    justify-content: start;
    -webkit-text-stroke: 1px var(--main-green);
    writing-mode: unset;
    transform: unset;
    font-size: 32px;
  }

  .project {
    width: unset;
    margin: unset;
    height: unset;
  }

  .project-head-number {
    font-size: 40px;
    margin-right: 16px;
    -webkit-text-stroke: 1px var(--main-green);
  }

  .project-head-project-name {
    font-size: 24px;
  }

  .project-h2 {
    font-size: 22px;
  }

  .about-the-project,
  .technologys-project,
  .learned-project,
  .prject-description-hover {
    width: 100%;
    height: 50px;
  }

  .project-presentation {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 24px 0px;
  }

  .prject-description-hover {
    opacity: 0;
    position: absolute;
    top: 259px;
    transition: ease-in-out 250ms;
  }

  .overlay {
    display: none;
  }
}
