@media (max-width: 1280px), (max-height: 800px) {
  nav {
    width: 110px;
  }

  .navigation-img {
    width: 80px;
    margin-top: 16px;
  }

  .navigation-links {
    margin: 8px 0px;
  }

  .navigation-links a {
    height: 124px;
    font-size: 24px;
  }

  section {
    min-width: calc(100vw - 110px);
  }

  .sections {
    margin-left: 110px;
  }

  .black-to-transparent {
    left: 110px;
  }

  .my-img {
    height: 560px;
  }

  .developer-name {
    font-size: 64px;
  }

  .developer-function {
    font-size: 40px;
  }

  .arrow-right {
    width: 80px;
    height: 24px;
  }

  .social-icons {
    right: 110px;
  }

  .why-me-content {
    margin-top: 130px;
    margin-left: 32px;
  }

  .why-me-content {
    width: 780px;
  }

  .why-me-header {
    font-size: 40px;
  }

  .why-me-description span {
    font-size: 40px;
  }

  .skill-section-content {
    width: 760px;
    margin-left: 32px;
    margin-top: 100px;
  }

  .skill-section-content-left {
    margin: unset;
  }

  .skill {
    width: 80px;
    height: 80px;
  }

  .skill-section-content-left p {
    font-size: 48px;
    margin-right: 16px;
  }

  .all-projects {
    margin-left: 32px;
    margin-top: 80px;
  }

  .about-the-project {
    width: 350px;
  }

  .project-text-section {
    margin: unset;
  }

  .project-text {
    margin-bottom: 8px;
  }

  .prject-description-hover {
    bottom: 18px;
  }

  .project {
    height: 480px;
    width: 800px;
    padding: 0px 32px;
  }

  .project-presentation {
    right: 30px;
    top: 112px;
  }

  .technologys-project {
    width: 425px;
  }

  .learned-project {
    width: 780px;
  }

  .reference-section-container {
    margin-left: 32px;
    margin-top: 80px;
  }

  .reference {
    height: 140px;
    margin-bottom: 8px;
  }

  .reference-section-container {
    height: 446px;
  }

  .reference-head {
    font-size: 48px;
  }

  .contact-head {
    font-size: 48px;
  }

  .contact-form {
    margin-top: 80px;
    margin-left: 32px;
  }

  form {
    width: 350px;
  }

  .input-message {
    height: 140px;
  }

  .impressum-section {
    margin: 80px 8px 0px 16px;
    max-width: 270px;
    height: 640px;
  }

  .impressumsite-text h2 {
    padding: unset;
    font-size: 16px;
  }

  .arrow-impressum-next {
    right: 32px;
  }

  .margin-impressumsite-text {
    margin-left: 32px;
  }
  .impressum-header {
    font-size: 48px;
    margin-left: 32px;
  }

  .impressumsite-text p {
    padding-bottom: 4px;
  }

  .impressum-container {
    margin-left: 110px;
    width: calc(100vw - 110px);
  }

  .impressum-detail {
    height: 620px;
  }

  .impressumsite-text {
    margin-left: 8px;
  }

  .arrow-contact {
    top: 415px;
  }
}

@media (max-height: 600px) {
  .impressum-header {
    height: 520px;
  }

  .impressum-detail {
    height: 470px;
  }

  .impressumsite-text {
    overflow-y: scroll;
  }

  .impressumsite-text {
    height: 470px;
    margin-left: 32px;
  }

  .impressum-section {
    height: 480px;
  }
}
