@media (max-width: 980px) {

.sections-track {

  background: linear-gradient(
    to bottom,
    #000000 0%,
    #2c2b2b 25%,
    #0b0a0a 50%,
    #323232 75%,
    #0b0a0a 100%
  );
}

  .sections {
    overflow-x: hidden;
    overflow-y: auto;

    scroll-snap-type: none;
    height: 100vh;
  }

  .sections-track {
    display: block;
    width: 100%;
  }

  section {
    width: 100%;
    min-width: unset;
    min-height: 100vh;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
  }

  .navigation-links {
    display: none;
  }

  .mobile-burger-menu {
    display: block;
    height: 32px;
    width: 32px;
    margin-right: 16px;
  }

  .navigation-img {
    width: 80px;
    margin-left: 16px;
  }

  .sections {
    margin: unset;
  }

  .black-to-transparent {
    left: 0px;
    top: 73px;
    width: 100%;
    height: 29px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.42), transparent);
  }

  .navigation-links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 230px;
  }

  .language-buttons {
    margin: unset;
  }

  .language-buttons span {
    color: #4a4a4a;
  }

  .language-buttons hr {
    border-color: #4a4a4a;
  }

  .social-icons {
    display: none;
  }

  .arrow-right {
    display: none;
  }

  .my-img {
    top: 80px;
  }

  .hero-name {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 550px;
    left: 50%;
    top: 720px;
  }

  .developer-name {
    font-size: 48px;
    font-family: "Quantico-Regular";
  }

  .developer-location {
    display: block;
    color: white;
    font-size: 18px;
  }

  .hero-name-mobile {
    flex-direction: column-reverse;
  }

  .developer-function {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Quantico-Regular";
    color: var(--main-green);
}
}


@media (max-width: 430px ) {
    .my-img {
    height: 420px;
    top: 60px;
  }

  .hero-name {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 550px;
    left: 50%;
    top: 540px;
  }

  .developer-name {
    font-size: 32px;
    font-family: "Quantico-Regular";
  }

  .developer-location {
    font-size: 16px;
  }

  .developer-function {
    font-size: 18px;
}
}